body{font-family: 'Unkempt', cursive, "Bradley Hand",Luminari, Verdana;
	 font-size: 20px;
	 color: black;
     }   	 

h1{color:#004aad;
   text-shadow: 2px 2px 0px #ffffff;
   font-size: 2.5em;
   font-weight: bold;
   text-align: center;
   background-color: #7ed957;
   box-sizing: border-box;
   padding: 15px ;
   border: 1px solid #004aad;
   border-radius: 5px;
   }
   
h2{font-weight: bold;
   color:#004aad;
  }

.socialmedia {background-color: #7ed957;
     box-sizing: border-box;
     padding: 15px;
     border: 1px solid #004aad;
     border-radius: 5px;
    }
	
.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
 }
 
 .sneak_peak {color:#004aad;
   font-weight: bold;
   text-align: center;
   background-color: #7ed957;
   text-shadow: 1px 1px 0px #ffffff;
   border-radius: 5px;
   border: 1px solid #004aad;
 }
 
 .sneak_peak:hover{color: black; 
    }
 
